<!DOCTYPE html>

<!--Page to add reptiles-->

<html lang="en">

    <head>
        <title>Add</title>
    </head>

    <body>
        <main>
            <form action=" /addPage" method="POST">
                <label> ID: </label>
                    <input type="text" name="id">
                
                <label> Name: </label>
                    <input type="text" name="name">

                <button type="submit" >Add</button>
            </form>
        </main>
    </body>

</html>